html {
	font-size: 62.5%;
}
body {
	width:100%; /*height:70em;*/
	font-size: 1.6rem;
	font-family:"微软雅黑";
	margin:0;	
	/*opacity: 0.5;*/	
	
}
.main-wrapper1{
	position: relative;
	width:100%;
	min-width: 1000px;
	/*background-color: #CCCCCC;*/
	/*background:url("../img/background3.jpg") no-repeat top left;*/
	background-size:100% 100%;
}


#resMmain{
	width: 100%;
	height: 928px;
	margin-top:0;
	padding-top:16px;
}
/*上传一栏目*/
.all-res{
	margin-left:180px;
	font-weight: bold;
	color:#286090;
}
.file{
	float: right;
	margin-top: -13px;
	margin-right: 260px;
}
/*********************搜索栏*************************************/
.searDiv{
	width: 75%;
	height: 160px;
	margin: 0 auto;    /*div居中2*/
	/*border-style: outset;*/
	/*margin-top:0.5em;*/
	border:solid #FFFFFF 1.6px;	
	background-color: rgba(255,255,255,1);
}
.searDiv ul{
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 40px;
}
.search-cls{
	display: inline;
	font-size:1.52rem;
	margin-left:16px;	
} 

#search-class1{
	margin-top:8px;
}
.classTitle{
	font-weight:bold;
}
.selected{
	color: #0000FF;
}
#searDiv{
	border-top:2px solid #edf1f2;
	border-bottom:2px solid #edf1f2;
}

/*********************内容栏*************************************/
.contentDiv{
	position:relative;
	width: 75%;
	height: 712px;
	/*background-color: #FFFFFF;*/
	/*top:1em;*/
	margin: 0 auto;   /*居中*/
	/*text-align: center;*/
    margin-left: 185px;
	overflow: hidden;
	/*opacity: 0.7;*//*和下面一句话是有区别的*/
	/*background-color: rgba(255,255,255,1);*/
}
.cont{
	margin: 0 auto;
	padding: 0;
	left:8px;
	text-align: center;/*div小块里面*/
	overflow: hidden;
	/*width: 100%;*/
}
.content{
	float:left;
	position:relative;
	/*width:180px;*/
	width: 17%;
	height:208px;
	background-color:#FFFFFF;
	/*margin: 0 auto;   */
	/*margin-left: 2em;*/
	margin-right: 16.3px;
	margin-top: 16px;
	padding:3.2px;
	/*opacity: 0.9;*/
}
.content:hover{
	background-color: #FFFFFF;
	opacity: 0.3;
	/*background-color: rgba(00,00,00,0.5);*/
	z-index: 1;
	cursor: pointer;
}

.cont-img{
	/*margin-top: 1.5em;*/
	/*width: 180px;*/
	width: 100%;
	height: 130px;
}
.cont-title{
	/*position: absolute;*/
	/*top: 5em;*/
	/*margin-bottom: 3em;*/
	vertical-align: middle;
	/*text-align: center;无用*/
	margin-top: 0;
	font-family: "幼圆";
	color:#000000;
	overflow: hidden;
}
.cont-name{
	position:absolute;
	float:right;
	font-size:1rem;
	font-family: "幼圆";
	right:12.8px;
	bottom:20.8px;
	color:#000000;

}
.cont-date{
	position:absolute;
	float:right;
	right:12.8px;
	font-size:1rem;
	font-family: "幼圆";
	bottom:0;
	color:#000000;
}
.kcbz-data,
.ssnj-data,
.ssks-data,
.wjlx-data,
.bzxx-data,
.fcomments,
.fid,
.commentsperson{
	display: none;
}
.pagination{
	/*background-color: #FFFFFF;*/
	float: right;
	margin-right: 35%;

}

/*************上传文件背景层*************************/
.uploadbg{
	display: none;
	position: absolute;
	top:0;
	left: 0;
	width:100%;
	height: 100%;
	opacity: 0.5;
	background-color: #000000;
}
/*************上传文件详情***************************/
.uploadDetial{
	display: none;
	position: absolute;
	width:464px;
	height: 464px;
	background-color: #FFFFFF;
}
.ultop{
	padding: 6.4px;
	/*background-color: #0000FF;*/
}
.ultitle{
	font-size: 1.5rem;
	margin-left: 16px;
	color:#0000FF;
}

.ulclose{
	float: right;
}
.ulMain{
	/*margin: 0 auto;*/
	/*padding-left: 6em;*/
	position: absolute;
	top:24px;
	/*margin-top: 0em;*/
	margin-left: 32px;
	overflow: hidden;
}
.row{
	margin-top: 20px;
}
.right-area{
	margin-left: -40px;
}


.upfile{
	color: #00FF00;
}
#upstatus{
	float: right;
	color: #0000FF;
	font-size: 12.8px;

}
/*#up-button{
	position: absolute;
	bottom: 0.5em;
	margin-bottom: 0.5em;
}*/